body {
    background: rgb(246, 247, 248)0;
}

h1 {
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
}

.card {
    width: 400px;
    position: absolute;
    top: 200px;
}

.form-box {
    padding: 30px;
}